<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to PIXIVRemSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/initial.css') }}">
    
    <script type="text/javascript">

        function check() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if(username == "" || password == "") {
                    alert("没有输入密码或用户名！");
                    clear_text();
                    return false;
                } 
            else {
                
                alert("验证成功！");
                window.location.href = '/index';
            }
    }
        function clear_text(){
                var username = document.getElementById("username").value = "";
                var password = document.getElementById("password").value = "";
                var repeat_pwd = document.getElementById("repeat_pwd").value = "";
                var pixiv_name = document.getElementById("pixiv_name").value = "";
                var pixiv_pwd = document.getElementById("pixiv_pwd").value = "";
            }
    </script>
    
</head>
<body>

    <div class="wrap">
        <div class="container">
	
		 <h1 style="color: white; margin: 0; text-align: center">Login</h1>    
			<input type="text" id="username" name="username" placeholder="Your username">
		
			<input type="password" id="password" name="password" placeholder="Your password">

			<input type="button" class = "button" value="登录" onclick="check()">
			
            <a href = "/register">
                <input type="button" value="注册"/>
            </a>

        </div>
    </div>
</body>
</html>
