<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>基于pixiv的画师推荐平台</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/animate.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/initial.css')}}">
<link rel="stylesheet" href="http://www.5imoban.net/download/swiper/swiper-4.4.2.min.css" />
<link rel="stylesheet" type="text/css" href="http://www.5imoban.net/download/css/animate-3.7.0.css"/>
<link rel="stylesheet" type="text/css" href="http://www.5imoban.net/download/swiper/swiper-3.4.2.min.css"/>
</head>
	
<body>
<div class="index-header clearfix">
	<div class="index-logo fl">
		<a href =""><img src="{{url_for('static', filename='images/girl.png') }}" width = "50" height = "50"></a> 
	</div>
	<ul class="index-nav fl">
		<li><a href="/index">首页</a></li>
		<li><a href="/status">登录状态</a></li>
		<li><a href="/person">个人中心</a></li>
		<li><a href="/list">热门榜</a></li>
		<li><a href="/recommend">自动推荐</a></li>
		<li><a href="https://www.baidu.com">联系我们</a></li>
	</ul>
	<div class="index-header-right fr">
		<a href="" class="search-btn">搜索</a>	
		<a href="" class="erweima">
			<div class="erweima-pic">
				<img src=" {{url_for('static', filename='images/pic1.jpg')}} ">
			</div>
		</a>
	</div>
	<div class="clear"></div>
</div>
	
<div class="search_sec">
	<a href="#" title="" class="close-search"><i class=" la-close"><img src="{{ url_for('static',filename ='images/icon5.png')}}"></i></a>
	<div class="search_field">
		<div class="container">
			<form>
				<input type="text" name="search" placeholder="Search for...">
				<button type="submit"><img src="{{ url_for('static',filename ='images/search2.png')}}" alt=""></button>
			</form>
		</div>
	</div>
</div>	
<!--search_sec end-->

<div class="section index-sec4">
	<div class="swiper-container animated" id="swiper2">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
									
					<a href="">
						<p>根据tagxxxx向您推荐</p>
							<img src="{{ url_for('static',filename ='images/girl.png')}}"/>
							<div style="font-size:12;color:#000">画师xxx</div>
							<br><div style="font-size:12;color:#000">xxx</div>
					</a>				            	
				</div>	

				<div class="swiper-slide">
													
					<a href="">
						<p>根据xxxx向您推荐2</p>
						<img src="{{ url_for('static',filename ='images/girl.png')}}"/>
						<div style="font-size:12;color:#000">画师xxx</div>
						<br><div style="font-size:12;color:#000">xxx</div>
					</a>				            	
				</div>	
				
			</div>     
			<span class="line"></span>
			<div class="swiper-button-next"> &gt; </div>
			<div class="swiper-button-prev"> &lt;</div>	
				
	</div>			
</div>

<div class="section index-sec4">
	<div class="swiper-container animated" id="swiper1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
									
					<a href="">
						<p>根据tagxxxx向您推荐</p>
							<img src="{{ url_for('static',filename ='images/girl.png')}}"/>
							<div style="font-size:12;color:#000">画师xxx</div>
							<br><div style="font-size:12;color:#000">xxx</div>
					</a>				            	
				</div>	

				<div class="swiper-slide">
													
					<a href="">
						<p>根据xxxx向您推荐2</p>
						<img src="{{ url_for('static',filename ='images/girl.png')}}"/>
						<div style="font-size:12;color:#000">画师xxx</div>
						<br><div style="font-size:12;color:#000">xxx</div>
					</a>				            	
				</div>	
				
			</div>     
			<span class="line"></span>
			<div class="swiper-button-next"> &gt; </div>
			<div class="swiper-button-prev"> &lt;</div>	
				
	</div>			
</div>
			
<div class="section index-sec1"></div>



<script src="http://www.5imoban.net/download/jquery/jquery-1.8.3.min.js"></script>
<script src="http://www.5imoban.net/download/swiper/swiper-3.4.2.min.js"></script>
<script src="js/banner.js"></script>
<script src="js/index.js"></script>
<script src="js/plugin.js"></script>		
<script src="http://www.5imoban.net/download/fullPage/fullPage-2.7.1.min.js"></script>
<script src="js/more.js"></script>
<script>			
	
	
	
	var swiper = new Swiper('#swiper1', {
		loop:true,
		loopedSlides:3,
		spaceBetween:80,
		centeredSlides:true,
		slidesPerView : 'auto',
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        breakpoints: { 				   
		    1600: {
		      spaceBetween:40,
		    }
	     }
	  });  
	
	 var swiper = new Swiper('#swiper2',{				
		loop:true,
		loopedSlides:3,
		spaceBetween:80,
		centeredSlides:true,
		slidesPerView : 'auto',
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        breakpoints: { 				   
		    1600: {
		      spaceBetween:40,
		    }
	     }
	  });  
	
</script>
</body>
</html>

