<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<title>Welcome to PIXIVRemSys</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/initial.css') }}">
		
        <script type="text/javascript">
			function register() {
				var username = document.getElementById("username").value;
				var password = document.getElementById("password").value;
                var repeat_pwd = document.getElementById("repeat_pwd").value;


				if(username == "" || password == "" || repeat_pwd == "" ) {
						alert("输入不能为空！");
                        clear_text();
						return false;
					} 
				else if(!(password == repeat_pwd)){
					alert("密码需要一致！");
                    clear_text();
					return false;
				}else{
					window.location.href = '/submittRegister/'+username+','+password;
                }
                
            }
		
		</script>
	</head>

	<body>
		
        <div class="wrap">
			<div class="container">
		
			 <h1 style="color: white; margin: 0; text-align: center">Sign Up</h1>    
				<input type="text" id="username" name="username" placeholder="Your username">
			
				<input type="password" id="password" name="password" placeholder="Your password">
				
				<input type="password" id="repeat_pwd" name="repeat_pwd" placeholder="Repeat your password">
				<!--
				<input type="text" id="pixiv_name" name="pixiv_name" placeholder="Your pixiv ID(Optional)">
				
				<input type="password" id="pixiv_pwd" name="pixiv_pwd" placeholder="Your pixiv pwd(Optional)">
				-->
				<input type="button" class = "button" value="注册" onclick = "register()">
				
		    </div>
	    </div>
	</body>

</html>