<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>基于pixiv的画师推荐平台</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<link rel="stylesheet" type="text/css" href="static/css/common.css">	
<link rel="stylesheet" href="http://www.5imoban.net/download/swiper/swiper-4.4.2.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
</head>
	
<body>

    
<div class="index-header clearfix">
	<div class="index-logo fl">
		<a href =""><img src="{{url_for('static', filename='images/girl.png') }}" width = "50" height = "50"></a> 
	</div>
	<ul class="index-nav fl">
		<li><a href="/index">首页</a></li>
		<li><a href="/status">登录状态</a></li>
		<li><a href="/person">个人中心</a></li>
		<li><a href="/list">热门榜</a></li>
		<li><a href="/recommend">自动推荐</a></li>
		<li><a href="https://www.baidu.com">联系我们</a></li>
	</ul>
	<div class="index-header-right fr">
		<a href="" class="search-btn">搜索</a>	
		<a href="" class="erweima">
			<div class="erweima-pic">
				<img src=" {{url_for('static', filename='images/pic1.jpg')}} ">
			</div>
		</a>
	</div>
	<div class="clear"></div>
</div>
    


<div class="search_sec">
	<a href="#" title="" class="close-search"><i class=" la-close"><img src="{{ url_for('static',filename ='images/icon5.png')}}"></i></a>
	<div class="search_field">
		<div class="container">
			<form>
				<input type="text" name="search" placeholder="Search for...">
				<button type="submit"><img src="{{ url_for('static',filename ='images/search2.png')}}" alt=""></button>
			</form>
		</div>
	</div>
</div>	
<!--search_sec end-->
<div id="bloc">
	<article id="index">
        
        <div class="section index-sec1">
            <div class="sec1-cont">		
            
				<h3 align="center"> <p style="font-size:30px">登录状态</p>   </h3>
		
		<br><br><br><br>
		

        <table border="1" bordercolor="yellow" align="center">
            <tr>
                <!--根据数据判断未绑定还是已绑定，若绑定，则显示相关ID，未绑定就显示未绑定-->
                <td>
                    <h3><p style="font-size:20px">已绑定ID</p></h3>
                </td>
                <td>
                    <input type="text" id="id" name="id">
                </td>
            </tr>
        </table>

        <br><br><br><br><br><br><br><br><br><br><br>

				<p class="p1"></p>
    
   				</div>
            </div>
        </article>
    </div>


</body>
</html>
