<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>基于pixiv的画师推荐平台</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<link rel="stylesheet" type="text/css" href="static/css/common.css">	
<link rel="stylesheet" href="http://www.5imoban.net/download/swiper/swiper-4.4.2.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/animate.min.css">
</head>
	
<body>

    
<div class="index-header clearfix">
	<div class="index-logo fl">
		<a href =""><img src="{{url_for('static', filename='images/girl.png') }}" width = "50" height = "50"></a> 
	</div>
	<ul class="index-nav fl">
		<li><a href="/index">首页</a></li>
		<li><a href="/status">登录状态</a></li>
		<li><a href="/person">个人中心</a></li>
		<li><a href="/list">热门榜</a></li>
		<li><a href="/recommend">自动推荐</a></li>
		<li><a href="https://www.baidu.com">联系我们</a></li>
	</ul>
	<div class="index-header-right fr">
		<a href="" class="search-btn">搜索</a>	
		<a href="" class="erweima">
			<div class="erweima-pic">
				<img src=" {{url_for('static', filename='images/pic1.jpg')}} ">
			</div>
		</a>
	</div>
	<div class="clear"></div>
</div>
    


<div class="search_sec">
	<a href="#" title="" class="close-search"><i class=" la-close"><img src="{{ url_for('static',filename ='images/icon5.png')}}"></i></a>
	<div class="search_field">
		<div class="container">
			<form>
				<input type="text" name="search" placeholder="Search for...">
				<button type="submit"><img src="{{ url_for('static',filename ='images/search2.png')}}" alt=""></button>
			</form>
		</div>
	</div>
</div>	

<div id="bloc">
	<article id="index">
        
        <div class="section index-sec1">
            <div class="sec1-cont">		
            
				<h3 align="center"> <p style="font-size:30px">个人信息修改</p>   </h3>
		
        <br><br>

<table style="border: 1px;margin: 0 auto;background: snow" width="50%" cellpadding="5" cellspacing="0" >

<tr>

<td style="background: salmon">用户名</td>

<td><input type="text" style="width:95%"></td>

</tr>

<tr>

<td style="background: salmon">密码</td>

<td><input type="text" style="width:95%"></td>

</tr>

<tr>

<td style="background: salmon">确认密码</td>
	
<td><input type="text" style="width:95%"></td>
	
</tr>
	

</table>


<div style="text-align:center">
  <br><br><br><br><button class = "login-button" onclick = "person()">提交</button>
 </div>

<br><br><br><br><br>

<p class="p1"></p>
    
   				</div>
            </div>
        </article>
    </div>

	<script type="text/javascript">
		function person(){
			window.location.href = '/person';
		}
	</script>


</body>
</html>